<html>
    <h1>Delete</h1>
    <p>Enter the user you want to delete by userID</p>
    <form action="/delete" method="post">
		UserId: <input type="text" name="userId"><br>
		<input type="submit" value="Submit">
	</form>
</html>