<html>

<body>
	<p>Signup page</p>

	<form action="/signup" method="post">
		Username: <input type="text" name="name"><br>
		Password: <input type="password" name="password"><br>
		<input type="submit" value="Signup">
	</form>
</body>

</html>